.container {
    composes: caveWidth from global;

    margin-top: var(--base-space);
    margin-bottom: var(--base-space);
    min-height: var(--large-space);
    padding: var(--base-space);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.onlyLogo {
    justify-content: center;
}

.navContainer {
    display: flex;
    flex-flow: row nowrap;
}

.headerItem {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: var(--large-space);
    padding: var(--minimal-space) var(--small-space);
}

.navItem {
    composes: headerItem;
}

.navItem:hover,
.activeNavItem,
.navItem:active,
.navItem:focus {
    color: var(--color-hot-pink);
    outline: 1px solid var(--color-hot-pink);
}

/*
 * LOGO SECTION
 */

.navLogo {
    composes: headerItem;

    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.navLogo:focus {
    outline: 1px solid var(--color-hot-pink);
}

.navLogo img {
    width: var(--large-space);
    height: var(--large-space);
}

.navLogo h3 {
    font-size: 24px;
    color: var(--color-hot-pink);
    margin: 0;
}