.container {
    background-color: rgba(var(--black-rgb), var(--overlay-alpha));

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
