/* 
 * All available and used colors
 */
:global(:root.colors) {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-error: #b00020;
}

/* 
 * General color for primary, secondary etc.
 * Uses colors variables
 * Dark theme? Change colors here.
 */
:global(:root.concepts) {
}

:global(:root.dark) {
    --color-primary: #132634;
    --color-on-primary: #243746;
    --color-on-primary-active: #97cace;
    /* TODO: make hover into mixin based on alpha? */
    /* --color-on-primary-hover: #ff009b; */
    --color-on-primary-hover: hotpink;
    --color-on-primary-hover-text: #243746;
    --color-primary-disabled: #9ca6ac;
    --color-text: #eeeeee;
    --color-link: hotpink;
}

/* 
 * Specific border/text etc colors based on concepts
 */
:global(:root.entities) {
}
