:root {
    /*
     * State - could be used for alpha values for different states (hover ++)
     */

    /*
     * Paddings, margins ++
     */

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;

    --nav-height: 2rem;
    --footer-height: 3rem;

    /*
     * Fonting
     */
    --font-size: 16px;

    /*
     * Z-indexes
     */
    --overlay-z-index: 9991;
    --snack-z-index: 9992;
    --dialog-z-index: 9993;

    /*
      * Colors
      */
    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;

    /* general*/
    --color-error: #b00020;
}

:global(:root.dark) {
    --color-primary: #000025;
    --color-on-primary-active: #0297fd;
    --color-on-primary-hover: #ff009b;

    --color-text: #eeeeee;
}

:global(:root.light) {
    --color-primary: #eeeeee;
    --color-on-primary-active: #e4e4e4;
    --color-on-primary-hover: #91848c;
}
