.container {
    grid-area: nav;
    height: var(--nav-height);
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.navContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item {
    cursor: pointer;

    padding: 0 var(--padding-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item a {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    background-color: var(--color-on-primary-hover);
}

.item:active {
    background-color: var(--color-on-primary-active);
}

/*
** Overrides some default styling of nav item
*/

.navLogo {
    composes: item;
}

.navLogo:hover,
.navLogo:active {
    background-color: transparent;
}
