.container {
    min-height: 3rem;
    margin: var(--base-space) 0;
    padding: 0 var(--base-space);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-flow: row nowrap;
}

.headerItem {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navItem {
    composes: headerItem;
    padding: var(--medium-space);
}

.navItem:hover,
.activeNavItem,
.navItem:active {
    color: var(--nav-item-hover-background);
}

/* 
.navItem:hover {
    background-color: var(--nav-item-hover-background);
    color: var(--nav-item-hover-text);
}

.activeNavItem,
.navItem:active {
    background-color: var(--nav-item-active-background);
    color: var(--nav-item-active-color);
} */

/*
 * LOGO SECTION
 */

.navLogo {
    composes: headerItem;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLogo img {
    width: 50px;
    height: 50px;
}

.navLogo h3 {
    font-size: 24px;
    font-style: italic;
    color: var(--nav-logo-color);
    margin: 0;
}
