.container {
    min-height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item {
    cursor: pointer;

    padding: 0 var(--padding-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item a {
    text-decoration: none;
    color: inherit;
}

.item:hover {
    background-color: var(--color-on-primary-hover);
}

.item:active {
    background-color: var(--color-on-primary-active);
}

/*
** Overrides some default styling of nav item
*/

.navLogo {
    composes: item;
}

.navLogo a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navLogo img {
    width: 20%;
    max-width: 400px;
}

.navLogo span {
    font-size: 24px;
    font-style: italic;
}

.navLogo:hover,
.navLogo:active {
    background-color: transparent;
}
