:global .border {
    border: 1px solid rgba(229, 229, 229, 0.16);
}

:global .caveWidth {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

:global .escapeCaveWidth {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}