/*
 * Variables and things?
 */
:global(:root.variables) {
    /* spacing */
    --small-space: 0.5rem;
    --base-space: 1rem;
    --medium-space: 2rem;
    --large-space: 3rem;
    /* font things */
    --font-size: 16px;
    /* overlay things */
    --overlay-z-index: 9991;
    --toast-z-index: 9992;
    --dialog-z-index: 9993;
}

/* 
 * All available and used colors
 */
:global(:root.colors) {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-error: #b00020;
    --color-dark-blue: #243746;
    --color-darker-blue: #132634;
    --color-dark-white: #eeeeee;
    --color-blue-ice: #97cace;
    --color-hot-pink: hotpink;
    --color-disabled-grey: #9ca6ac;
}

/* 
 * General color for primary, secondary etc.
 * Uses colors as variables
 * Dark theme default -- themes can be added here.
 */
:global(:root.dark-theme) {
    /* PRIMARY */
    --theme-primary: var(--color-dark-blue);
    --theme-on-primary: var(--color-dark-white);
    --theme-on-primary-active: var(--color-blue-ice);
    --theme-on-primary-hover: var(--color-hot-pink);
    --theme-on-primary-hover-text: var(--color-darker-blue);
    /* SECONDARY */
    /* TERTIARY */
    /* GENERAL STATES ETC. ++*/
    --theme-disabled: var(--color-disabled-grey);
}

:global(:root.light-theme) {
}

/* 
 * Specific border/text etc colors based on concepts
 * The only variables to be used by components.
 */
:global(:root.entities) {
    /* MAIN */
    --main-background: var(--theme-primary);
    --main-text: var(--theme-on-primary);
    /* NAV MENU */
    --nav-logo-color: var(--theme-on-primary-hover);
    --nav-item-active-background: var(--theme-on-primary-active);
    --nav-item-active-text: var(--theme-on-primary-hover-text);
    --nav-item-hover-background: var(--theme-on-primary-hover);
    --nav-item-hover-text: var(--theme-on-primary-hover-text);
}
