/*
 * Variables and things?
 */
:root {
    /* spacing */
    --small-space: 0.5rem;
    --base-space: 1rem;
    --medium-space: 2rem;
    --large-space: 3rem;
    /* font things */
    --font-size: 16px;
    /* rgba things */
    --black-rgb: 0, 0, 0;
    --overlay-alpha: 0.7;
    /* overlay things */
    --overlay-z-index: 9991;
    --toast-z-index: 9992;
    --dialog-z-index: 9993;
}

/* 
 * All available and used colors
 */
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-error: #b00020;
    --color-dark-blue: #243746;
    --color-darker-blue: #132634;
    --color-dark-white: #eeeeee;
    --color-blue-ice: #97cace;
    --color-hot-pink: hotpink;
    --color-disabled-grey: #9ca6ac;
}