.root,
.dialog {
}

body {
    background: var(--color-primary);
    color: var(--color-text);
    /* TODO: add transition when toggling dark theme?? Ruins first load at the moment */
    /* transition: background 0.8s, color 0.8s; */
    font-size: var(--font-size);
}

.root {
    position: relative;
}

.dialog {
    position: absolute;
    z-index: var(--dialog-z-index);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
