.root,
.overlay {
    width: 100%;
    height: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ef5350; /* fallback */
        color: var(--color-primary);
    }

    a {
        color: #0c969b; /* fallback */
        color: var(--color-secondary);
    }
}

.root {
    // bearcave things
    background: #f0f0f0; /* fallback */
    background: var(--color-bg);
    color: #994cc3;
    color: var(--color-text);
    transition: background 0.8s, color 0.8s;
}

.overlay {
    width: 100%;
}

:root {
    /*
     * State
     */
    --state-disabled-opacity: 0.38;
    --state-primary-hover: 0.08;

    /*
     * Paddings, margins ++
     */

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;

    /*
      * Colors
      */
    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;

    // primary
    --color-primary: #6200ee;
    --color-primary-hover: rgba(
        var(--color-white-rgb),
        var(--state-primary-hover)
    );

    // secondary
    --color-secondary: #03dac6;

    // general
    --color-background: var(--color-white);
    --color-surface: var(--color-white);
    --color-error: #b00020;

    // on-colors
    --color-on-primary: var(--color-white);
    --color-on-secondary: var(--color-black);
    --color-on-background: var(--color-black);
    --color-on-surface: var(--color-black);
    --color-on-error: var(--color-white);
}

:root.dark {
    // TODO: override default colors with shiny dark themed?
}

body {
    // default browser shit
    margin: 0;
}
