.root,
.overlay {
    width: 100%;
    height: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #ef5350; /* fallback */
        color: var(--color-primary);
    }

    a {
        color: #0c969b; /* fallback */
        color: var(--color-secondary);
    }
}

.root {
    // bearcave things
    background: var(--color-content-background);
    color: var(--color-content-on-background);
    transition: background 0.8s, color 0.8s;
}

.overlay {
    width: 100%;
}

:root {
    /*
     * State
     */
    --state-disabled-opacity: 0.38;
    --state-primary-hover: 0.08;

    /*
     * Paddings, margins ++
     */

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 1.5rem;

    /*
     * Z-indexes
     */
    --overlay-z-index: 9991;
    --snack-z-index: 9992;
    --dialog-z-index: 9993;

    /*
      * Colors
      */
    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;

    // dark palettes
    --color-primary: #222831;
    --color-secondary: #393e46;
    --color-tertiary: #00adb5;
    --color-quaternary: #eeeeee;

    // nav
    --color-nav-background: var(--color-secondary);
    --color-nav-on-background: var(--color-quaternary);

    // content
    --color-content-background: var(--color-secondary);
    --color-content-on-background: var(--color-quaternary);

    // footer
    --color-footer-background: var(--color-tertiary);
    --color-footer-on-background: var(--color-quaternary);

    // general
    --color-error: #b00020;

    // fallback /defaults
    background: #222831; /* fallback */
    color: #eeeeee;
}

:root.light {
    // TODO: override default colors with shiny light themed?
}

body {
    // overriding default browser shit
    margin: 0;
}
