<!DOCTYPE html>
<html class="colors theme entities">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="${require('./apple-touch-icon-120x120.png')}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="${require('./favicon-32x32.png')}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="${require('./favicon-16x16.png')}"
        />
        <link rel="manifest" href="${require(./site.webmanifest)}" />
        <meta name="theme-color" content="#ffffff" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
            integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
            crossorigin="anonymous"
        />
    </head>
    <body>
        <noscript> You need to enable JavaScript to run this app. </noscript>
        <div id="root"></div>
    </body>
</html>
